.product-nav-links{
    display: flex;
    gap: 2rem;
}
.product-nav-links a{
    text-decoration: none;
    color: black;
    opacity: 0.35;
}
.product{
    width: 100%;
}
.product-text{
    padding:2.5rem
}
.product-description{
    padding: 2.5rem 2.5rem 2.5rem 0;
}
.product-image img{
    width: 100%;
}
  
  .value-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    padding: 11px 0;
    background: #eee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .counter {
    display: flex;
    align-items: center;
  }
  
  button {
    padding: 8px 12px;
    font-size: 16px;
    background-color: #eaeaea;
    border: none;
    cursor: pointer;
  }
  
  span {
    margin: 0 10px;
    font-size: 18px;
}
@media (min-width:320px) and (max-width:767px){
    .product-nav-links{
        display: none;
    }
}